.a{
	font-family:"华文楷体";
	font-size:22px;
	color:#F00;
}
.b{
	width:70px;
	height:60px;
	}
.b1{
	width:70px;
	height:60px;
	}
.c{
	margin-left:65px;
	margin-top:-50px;
	}
.c1{
	margin-top:30px;
	}
.c2{
	margin-top:-10px;
	}
.c3{
	margin-top:-20px;
	}
.c4{
	margin-top:-15px;
	}
.d{
	margin-left:125px;
	margin-top:-60px;
	}
.f{
	font-size:14px;
	}
.f2{
	margin-top:-10px;
	
	}